<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="avalonia-nightly" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <xpf>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="AQAAAIoAAAAfiwgAAAAAAAADY2RgYBBmgABux7LEnPy8zESFUE8QP+LnRDFGkHxEQZpnXklqelFiSWZ+XkhqcUkxAzNQgjUnM6+0gjU3MTm/mL08My8lv7yYFSjOXFGQxgPEuokFmbrFGZm5YA5QQVp+UW4xb2lxYnqqVVFpXklmbionhFeckg0A6gcBz4sAAAAAAQAAK47Mu3NohSE3BeqoDv32Po+9nol8C9fxYmU0I20pLnCFJS8kiw4cvIDUYXT345x7RHEe77JJ0B589rw23dEwMihNg4mG5JXT4i7yxyxJLmm0f5VSQaxEBpmT+I8bhbV8/991VAVE4/5THWR6DciqAwKA2J6fy6iWVJiGRqRiQgb89uxML0HglJ7UZdKY+aUNxFasHjxkEdK+Mmz9H2XHEokYt9dzH03oCMFa1vi9p/bh8CkEWdkj7mLKA1siQH+1LZDyTZUAKDa+aa98fzUvAiOWDvZgQss+MkVz9U+k1i/3w/SMsVxkjKeuxOaHaXEggEE6ln7MOLPkB5cwt2G26A==" />
    </xpf>
  </packageSourceCredentials>
</configuration>